img {
    width: 5%;
}

header {
    display: flex;
    align-items: center;
}

header section:nth-child(1) {
    display: flex;
}

#root > section {
    display: flex;
    justify-content: space-between;
}

#root > section section:nth-child(1) {
    flex: 1 80vw;
}

#root > section section:nth-child(2) {
    flex: 2 20vw;
}