img {
    width: 5%;
}

header {
    display: flex;
    align-items: center;
}

header section:nth-child(1) {
    display: flex;
}

#root > section {
    display: flex;
    justify-content: space-around;
}